<!-- Button trigger modal -->
<button id="btn-impostor-info" type="button" class="btn btn-primary" data-toggle="modal" data-target="#impostorInfoModal">
  <i class="fas fa-info"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="impostorInfoModal" tabindex="-1" aria-labelledby="impostorInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content bg-primary" id="settings-modal">
      <div class="modal-body d-flex flex-column">
        <div class="mb-4" style="border-bottom: 1px solid #033b4d; text-align: center;">
          <h5>Impostor Info</h5>
        </div>
        <p>Every game will have a randomly chosen impostor.</p>
        <p>The impostor wins by:
          <ul>
            <li>answering with lies and</li>
            <li>not get caught by other players.</li>
          </ul>
        </p>
        <p>Voting for the impostor starts after the last round.</p>
        <p style="text-align: center;">Good luck!</p>
      </div>
    </div>
  </div>
</div>
