// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// de-bored color scheme
$kiroi:  #FEDA02;
$midori: #52D75F;
$aoi: #035e7a;
$mizu: #364ec9;
$murasaki: #8A0AB7;
$pink: #e42c63;
$bg: #035e79;