.notification {
  font-family: $body-font;
  font-weight: 500;
}

#notification-impostor{
  color: rgb(255, 52, 52);
  text-shadow: 1px 1px 2px black;
}

#notification-non{
  color: rgb(176, 255, 176);
  text-shadow: 1px 1px 2px black;
}