.result-page{
    background-color: $bg;
    border: 6px solid #012d3af1;
    border-radius: 8px;
    border-style: groove;
}
#result-card{
    background-color: $mizu;
    border: 2px solid #151f52;
    border-radius: 8px;
    border-style: groove;
}
