.result-page{
    background-color: $bg;
    border: 6px solid #012d3af1;
    border-radius: 8px;
    border-style: groove;
}
#result-card{
    background-color: $mizu;
    border: 2px solid #151f52;
    border-radius: 8px;
    border-style: groove;
}

#result-avatar{
    border:2px solid black; 
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    background-color: #151f52;
}


#result-voted{
    border:2px solid black; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    background-color: #151f52;
}