<div class="container-fluid">
  <h3 class="py-4 text-center">This Round's Results</h3>
    <div id="inputs" data-round-id="<%= @round.id %>">

    <% @round.player_inputs.each do |player_input| %>
      <%= render 'player_inputs/player_input', player_input: player_input %>
    <% end %>

  <%= link_to instances_path(game_id: @game_id), method: :post do %>
    <div class="btn btn-warning">End</div>
  <% end %>

  </div>
</div>
