<div class="navbar navbar-expand-sm navbar-transparent navbar-lewagon">

  <%= link_to root_path, class: "navbar-brand" do %>
   <div class="btn btn-danger">Home</div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav">
      <% if current_user.guest? %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-primary p-2" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link btn btn-primary p-2" %>
        </li>
      <% end %>
    </ul>
</div>
