<div class="text-center">
  <% if (highest_voted_player.nickname == impostor.nickname) %>
    <p><%= "#{impostor.nickname} was the IMPOSTER"%></p>
  <% else %>
    <p><%= "#{highest_voted_player.nickname} was NOT the imposter"%></p>
    <p><%= "It was #{impostor.nickname}!" %></p>
  <% end %>
</div>