<div class="row">
  <div class="col-12 mt-1">
    <h4 style="text-align:center;">Results</h4>
  </div>

  <div class="col-12 d-flex justify-content-center">
    <div id="most-yes-result" style="width:45%;">
      <h5>Most <strong>Yes's</strong></h5>
      <p><%= cl_image_tag @yes_player.user.avatar.key, size: "30x30" %><strong> <%= @yes_player.nickname %> </strong></p>
    </div>

    <div id="most-no-result" style="width:45%;">
      <h5>Most <strong> No's </strong></h5>
      <p><%= cl_image_tag @no_player.user.avatar.key, size: "30x30" %><strong> <%= @no_player.nickname %> </strong></p>
    </div>
  </div>
</div>
