<div class="row justify-content-center align-items-center pt-3">
  <div class="col-8">
    <%= pie_chart @vote_tally.each do |voted, count|%>
      <%= Player.find(voted).nickname.group(total_votes).count  %>
    <% end %>
  </div>
</div>
