<% players.each do |player| %>
  <div id="result-card" class="card m-2 p-2">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div id="result-avatar"><%= cl_image_tag player.user.avatar.key, class: "avatar" %></div>
        <div class="d-flex">
          <div class="px-3"><p><%= player.nickname %></p></div>
          <% if player.id == @instance.impostor_player_id %>
            <div id="impostor-label" class="d-none impostor-label" style="position:absolute; right:10px">IMPOSTOR</div>
          <% end %>
        </div>
      </div>
      <div id="who-voted-who" class="d-flex">
        <%= render  "result_who_voted", instance: @instance, player: player %>
      </div>
    </div>
  </div>
<% end %>
