<% voters = Vote.where(instance: instance, voted_player_id: player.id) %>
<% voters.each do |voter | %>
  <div id="result-voted" class="mx-1 align-self-end">
    <%= voter.voter.user.nickname %>
  </div>
<% end %>