<div id="homepage">
  <%= render "logo" %>
  <div class="text-center">
    <%= link_to games_path do %>
      <div id="play-now" class="btn btn-warning d-none" style="font-size: 1.75rem;">Play Now</div>
    <% end %>
  </div>
</div>
