<div class="background" style="background-color: #001219; height:100vh">
  <%= render "logo" %>

  <div class="text-center">
    <%= link_to games_path do %>
      <div class="btn btn-warning">Discover</div>
    <% end %>
  </div>
</div>
