<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Checkout our games</h1>
       <p>Never Had I ever</p>
      <p>Woops, they are yet to be implemented.</p>
    </div>
  </div>
</div>