<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="p-5">Games</h1>

        <% @games.each do |game| %>
          <!-- Card space for Front End Master Hiro -->
      <div class="card d-flex flex-column align-items-center justify-content-center p-3 bg-white shadow">
        <div>
          <h4><%= game.name%></h4>
        </div>

          <!-- Buttons "Join" and "Create" -->
          <div class="d-flex justify-content-around w-100">
            <div>
              <%= link_to instances_path(game_id: game.id), method: :post do %>
                <div class="btn btn-primary">Create</div>
              <% end %>
            </div>
            <div>
              <%= render "components/modal" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
