:root {
  --form-check-color: #e42c63;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.form-check {
  font-size: 18px;
  line-height: 1.1;
}

.form-check + .form-check {
  margin-top: 8px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-check-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

abbr[title="required"] {
  display: none;
}
