<div id="input-<%= player_input.id %>" class="card shadow-sm p-3 rounded">
  <div class="d-flex justify-content-between align-items-center">
    <p class="m-0"><%= player_input.player.user.nickname %></p>
    <p class="m-0"><%= player_input.input_value %></p>
  </div>
</div>
