<div class="container-fluid" style="height: 75vh;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-center">
      <h3 class="mb-4">Who do you think was the impostor?</h3>

      <% @players.each do |player| %>
        <%= simple_form_for([@instance, @vote]) do |f| %>
          <%= hidden_field_tag :voted_player, player.id %>
          <%= f.submit player.nickname, class:"btn btn-info my-2" %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
